docs/IO1_docs/docs/dokumentacja_koncowa/xml/lostConnection/lostConnection.xsd

<?xml version="1.0"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.mini.pw.edu.pl/~gameProject/"
	elementFormDefault="qualified">
	<xs:element name="lostConnection">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:integer" />
				<xs:element name="role">
				  <xs:simpleType>
					<xs:restriction base="xs:string">
					  <xs:enumeration value="Agent"/>
					  <xs:enumeration value="Leader"/>
            <xs:enumeration value="GameMaster"/>
					</xs:restriction>
				  </xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>